.img-wtf-main{
    width: 100%;
    margin-top: 55px;
}
.searching-data{

}
.search-box{
    border: 1px solid transparent;
    height: 100px;
background-color: rgb(8,8,8);
}
.search{
width: 90%;
height: 60px;
border: 2px solid white;
/* background-color:rgb(8,8,8) ; */
margin-top: 20px;
border-radius: 10px;
color:rgba(245, 245, 245, 0.404);
margin-left: 5%;
display: flex;
font-family: sans-serif;
font-size: 18px;
}
.search1{
    float: left;
    background-color: rgb(8,8,8);
    border: none;
    margin-left: 15px;
    margin-top: 10px;
}
.search1:hover{
  border: 0px;
}
.location{
    border: 1px solid red;
    width: 50px;
    height: 40px;
    margin-top: 8px;
    border-radius: 10px;
    background-color: rgb(156,13,13);
    margin-left: 64%;
}
.golocation{
    margin-top: 5px;
    color:white;
    height: 20px;
}
.btn-clear{
    border: 1px solid red;
    width: 80px;
    height: 40px;
    margin-left: 10px;
    margin-top: 8px;
    background-color: rgb(156,13,13);
    border-radius: 10px;
    color: white;
}
.filter-and-mapage{
    border: 1px solid red;
    width: 100%;
    height: 700px;
    margin-top: 17px;
    display: flex;
}
.filter-data{
    border: 1px solid red;
    width: 30%;
   margin-left: 5%;
   color: white;
   font-weight: 100px;
}
.map-data{
    border: 1px solid  red;
    width: 60%;
}
.Filter{
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 400;
    margin-right: 280px;
    margin-top: 20px;
}
.location1{
font-size: 19px;
margin-right: 300px;
font-weight: 600;
}
.enter-location{
    border: 2px solid rgba(255, 255, 255, 0.468) ;
    height: 45px;
    width: 240px;
    margin-left:-135px;
    background-color: rgba(128, 128, 128, 0.386);
    font-size: 18px;
  border-radius: 5px;
}
.enter-location1{
    border: 2px solid rgba(255, 255, 255, 0.468) ;
    height: 45px;
    width: 240px;
    margin-left:-135px;
    background-color: rgba(128, 128, 128, 0.386);
    font-size: 18px;
  border-radius: 5px;
  margin-top: 15px;
  color: white;
}
.location2{
    font-size: 19px;
    margin-right: 340px;
    font-weight: 600;
    margin-top: 10px;
    }
    .location3{
        font-size: 19px;
        margin-right: 340px;
        font-weight: 600;
        margin-top: 10px;
        }
        .option{
            margin-left: 20px;
            color: white;
        }
        .enter-location3{
            border: 2px solid rgba(255, 255, 255, 0.468) ;
            height: 45px;
            width: 100px;
            margin-left:-170px;
            background-color: rgba(128, 128, 128, 0.386);
            font-size: 18px;
          border-radius: 5px;
        }
        .enter-location4{
            border: 2px solid rgba(255, 255, 255, 0.468) ;
            height: 45px;
            width: 100px;
            margin-left:-210px;
            background-color: rgba(128, 128, 128, 0.386);
            font-size: 18px;
          border-radius: 5px;
        }